PROJECT_Name=Stockage Platform

BACK_PORT=8080
BACK_MONGODB_URI=mongodb://127.0.0.1:27017
BACK_MONGODB_NAME="Stockage-Platform"

STATIC=./media
LOGS=./logs

BACK_SECRET=""

BACK_EmailHost=smtp.gmail.com
BACK_EmailPort=587

BACK_EmailUser=****@gmail.com
BACK_EmailPass=TON_NOUVEAU_APP_PASSWORD

DEV_Email=*****@gmail.com

NODE_ENV=development
MAIN_URL="tbd"

CLOUDINARY_CLOUD_NAME=tbd
CLOUDINARY_API_KEY=tbd
CLOUDINARY_API_SECRET=tbd

REDIS_HOST=localhost
REDIS_PORT=6379
REDIST_PASSWORD=""